
@{
    ViewData["Title"] = "GetDataFromCache";
}

<h1>Data From Cache</h1>
<br />
<p>Cached Time Data: @ViewBag.time</p>
<hr />
<p>Cached Time Data(with absolute life time): @ViewBag.timeWithAbsoluteExpireTime</p>
<p>@ViewBag.callback1</p>
<hr />
<p>Cached Time Data(with sliding life time): @ViewBag.timeWithSlidingExpireTime</p>
<p>@ViewBag.callback2</p>
<hr />
<p>Cached Time Data(with absolute+sliding life time): @ViewBag.timeWithAbsoluteAndSlidingExpireTime</p>
<p>@ViewBag.callback3</p>
